DerivedData/
.build/
**/xcuserdata/
GodotIOSEmbeddingDemo/Resources/godot-ios-embedding.pck
GodotIOSEmbeddingDemo/Resources/Models/*
Godot/.godot/
Godot/character.glb
Godot/character.vrm
Godot/character.vrm.import
Godot/addons/Godot-MToon-Shader/
Godot/addons/godot-lip-sync/
Godot/addons/vrm/
