target
**/target
node_modules
**/node_modules
.next
**/.next
.build
**/.build
.next-e2e
**/.next-e2e
examples
integrations
npm-packages/*
!npm-packages/dashboard/
!npm-packages/dashboard/**
Frameworks
test-results
**/test-results
.turbo
**/.turbo
*.tsbuildinfo
**/*.tsbuildinfo
.git
.github
.env
.env.*
**/.env
**/.env.*
playwright-report
**/playwright-report
Dockerfile
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
